/* Footer Styling */
.footer {
    background-color: rgb(240, 240, 245); /* Dark background */
    color: #000; /* White text */
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Wrapper to center content */
.footer-wrapper {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-wrapper {
        width: 95%;
        font-size: 14px;
    }
}
